#footer {
  padding: 70px 0 25px 0;
  background-color: var(--bg-color-secondary);
}
.footer__grid {
  gap: 30px;
  display: grid;
  max-width: 82%;
  margin-bottom: 30px;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
}
.brand__title,
.brand__description,
.footer__links h4, li, .footer__link,
.footer__services h4 {
  color: var(--text-color-link-light);
}
.brand__title {
  font-weight: 400;
  font-size: clamp(18px, 4vw, 37px);
  font-family: "DM Serif Text", serif;
}
.brand__description {
  width: 60%;
  padding: 20px 0;
  font-size: 16px;
  line-height: 25px;
}
.footer__social__media {
  gap: 20px;
  display: flex;
  align-items: center;
}
.footer__social__media span {
  padding: 10px;
  display: flex;
  cursor: pointer;
  transition: 0.2s;
  align-self: center;
  border-radius: 50%;
  background-color: #00613c;
}
.footer__social__media span:hover {
  background-color: var( --additional-color);
}
.footer__social {
  font-size: 18px;
  color: var(--text-color-link-light);
}
.footer__links h4, 
.footer__services h4 {
  font-weight: 400;
  margin: 5px 0 15px 0;
  font-size: clamp(18px, 4vw, 25px);
  font-family: "DM Serif Text", serif;
}
.footer__links ul, 
.footer__services ul {
  padding-left: 20px;
}
.footer__links li, 
.footer__services li {
  padding: 10px 0 !important;
}
.footer__link {
  font-size: 16px;
  transition: 0.2s;
}
.footer__link:hover {
  color: var(--additional-color);
}
#footer hr {
  opacity: 0.2;
  margin-bottom: 15px;
}
.footer__copyright__terms {
  display: flex;
  justify-content: space-between;
}
.copyright, 
.terms__link {
  opacity: 0.7;
  transition: 0.2s;
  color: var(--text-color-link-light);
}
.terms__link:not(:last-child) {
  margin-right: 18px;
}
.terms__link:hover {
  color: var(--additional-color);
}

@media only screen and (max-width: 767px) {
  .footer__copyright__terms {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
}